node_modules
artifacts
cache
flats
.node*
.idea
coverage
*.sublime-*
.0x-artifacts
deploy/*.config
deploy/*.env*
!deploy/.env.example
!deploy/.env.kovan-sokol
!deploy/.env.mainnet-xdai
upgrade/*.env*
!upgrade/.env.example
coverage.json
.env